.loan-container {
    display: flex;
    flex-direction: column;
}

.loan-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

.loan-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.loan-item:nth-child(even) {
    background-color: #f2f2f2;
}

.loan-item p {
    margin: 0;
}

.loan-item>* {
    flex: 1;
    margin-right: 10px;
}

.loan-header>* {
    flex: 1;
    margin-right: 10px;
}