.welcome-message{
    max-width: 50%;
    margin: auto;
    padding: 0px 24px 0px 24px;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    text-align: justify;
    border: solid 1px #bbbbbb;
    border-radius: 4px;
    
}